html, body {
  margin: 0;
  overflow-y: none;
}

.first {
  height: 110%;
  width: 100%;
  background-color: white;
  color: black;
  text-decoration: underline;
  text-align: center;
  vertical-align: middle;
  z-index: 9999;
}

.second {
  width: 100%;
  height: 100%;
  background-image: url("assets/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(10deg);
}

.third {
  width: 100%;
  height: 110%;
}